/* Basic CSS resets -- leveling slight inconsistencies in browsers */
html, body {
	margin:0px;
	padding:0px;
	height:100%;
}

html {
		/* Standard text-settings below */
	font-size: 1em;
    line-height: 1.4em;
}


/* Mobile First CSS: we'll design for phone sizes first, then add media queries for larger screens later */

body {
    color: #3f354a;
    background: #f2efda;
    font-family:"Volkhov", "Girassol", sans-serif;
	
}


#container {
	
}

section {
    border:1px solid black;
    padding:10px;
    margin:10px;
    background:#e0ffc7;
}



header {
    text-align:center;
    line-height:2em;
}




#container>header h1 {
    color:#3f5463;
}


#first>header h1 {
    font-style: italic;
    font-size:2em;
    background:#eddaec;
}


#first>header h2 {
    font-size:1.3em;
    font-family:"Carrois Gothic SC";
    color:#706280;
}


#second>header h1 {
    font-style: italic;
    font-size:2em;
    background:#eddaec;
}


#second>header h2 {
    font-size:1.3em;
    font-family:"Carrois Gothic SC";
    color:#706280;

}

footer {
    font-size:0.8em;
    padding:8px;
    color:#706280;
}

.mobile {
    background:#ffa8c1;
    text-shadow: 2px 2px 4px #ff0000;
}

.tablet {
    display:none;
}

.desktop {
    display:none;
}


/* ========================================
MEDIA QUERIES!
You can adjust the min-width numbers below, and add as many new media queries as you need.
======================================== */



@media all and (min-width: 650px) {
    
.mobile {
        display:none;
    }

.tablet {
    display:block;
    background:#fab9cb;
    text-shadow: -2px 2px 4px #ff0000;
    }

.desktop {
    display:none;
}
    
    
    
/* Minimum width for laptops. */
@media all and (min-width: 769px) {


    body {
    background: #f2efda url(../img/clouds.jpg) fixed no-repeat center;
    background-size:cover;
    }
    
    
    #container {
        width:725px;
        margin:auto;
    }
    
    
    #container>header h1 {
        background:#cee4f5;
        font-size:2.3em;
    }
    
    
    section {
        background:#b2cff7;
    }
	
.mobile {
    display:none;
    }

.tablet {
    display: none;
    }

.desktop {
    display:block;
    background:#fcdce5;
    text-shadow: 2px 2px 6px #ff0000;
    }

	
	
} /* closes 769px+ */




/* Minimum width for desktop screens. */
@media all and (min-width: 1024px) {
	
    #container {
        width:1000px;
    }
    
    #container>header h1 {
        background:#ebf2f7;
        font-family:"Honk";
        font-size:3em;
    }
    
    body {
        font-family:Neuton;
        font-size:1.2em;
    }
    body {
    background: #f2efda url(../img/orangecloudz.jpg) fixed no-repeat center;
    background-size:cover;
    }
    
    
    section#first {
        float:left;
        width:450px;
        background:#cbdef7;
    }
    
    section#second {
        float:right;
        width:450px;
        
        
    }
    
    footer {
        clear:both;
        color:#fffbde;
    }
	
    .mobile {
        display:none;
    }
    
    .tablet {
        display:none;
    }
    
    
    .desktop {
        display:block;
    }

} /* closes 1024px+ */



